*.pyc
data/
__pycache__/
.ipynb_checkpoints
checkpoints/
*.pth
*.jpg
venv/
.idea/
wandb/
images/
masks/
models/

# packaging / build
*.egg-info/
build/
dist/

# model + eval outputs
*.safetensors
*.npy
predict*/

# generated artifacts
*.png
*.pdf
*.html
*.mp4

